kniffel/knifel/Web References/sanet.by.kniffel/kniffelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sanet.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.sanet.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sanet.com/">
      <s:element name="PutScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Score" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PutScoreResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PutScoreSoapIn">
    <wsdl:part name="parameters" element="tns:PutScore" />
  </wsdl:message>
  <wsdl:message name="PutScoreSoapOut">
    <wsdl:part name="parameters" element="tns:PutScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="KniffelServiceSoap">
    <wsdl:operation name="PutScore">
      <wsdl:input message="tns:PutScoreSoapIn" />
      <wsdl:output message="tns:PutScoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KniffelServiceSoap" type="tns:KniffelServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutScore">
      <soap:operation soapAction="http://www.sanet.com/PutScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KniffelServiceSoap12" type="tns:KniffelServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutScore">
      <soap12:operation soapAction="http://www.sanet.com/PutScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KniffelService">
    <wsdl:port name="KniffelServiceSoap" binding="tns:KniffelServiceSoap">
      <soap:address location="http://localhost:1643/screenagent/kniffelService.asmx" />
    </wsdl:port>
    <wsdl:port name="KniffelServiceSoap12" binding="tns:KniffelServiceSoap12">
      <soap12:address location="http://localhost:1643/screenagent/kniffelService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>